.container-fluid{
  max-width: 100%;
}

  
  /* Card Styling */
  .card {
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 570px; 
        background: rgba(255, 255, 255, 0.386); /* Transparent white */
       

  }
 .bt{
    border-radius: 10px;
 }
  .slider-img-container:focus{
    padding: 5px;
    outline: none;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  /* Image Responsiveness */
  .card img{
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    max-height: 420px; 
    object-fit: cover;

  }
  
  /* Title Styling */
  .card-title {
    font-size: 18px;
    font-weight: lighter;
    margin-top: -5px;
    font-family: 'Poppins', sans-serif;
    padding: 1px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
  }
  
  /* Responsive Media Queries */
  @media (max-width: 1024px) {
    .card {
      height: 240px; /* Adjust card height */
    }
    .card img {
      height: 120px; 
      object-fit: scale-down;/* Adjust image size */
    }
    .card-title{
        font-size: 15px;
    font-weight: bold;
    margin-top: -5px;
    
    }
    .bt{
        width: 80px;
        font-size: 10px;
        height: 30px;
    }
  }
  
  @media (max-width: 768px) {
    .card {
      height: 200px;
       object-fit: scale-down; /* Smaller card */
    }
    .card img {
      height: 120px; 
      /* Adjust image */
      object-fit: scale-down;
    }
    .card-title{
        font-size: 10px;
    font-weight: bold;
    margin-top: -5px;
    }
    .bt{
        width: 80px;
        font-size: 10px;
        height: 30px;
    }
  }
  
  @media (max-width: 480px) {
    .card {
        height: 190px; /* Smaller card */
      }
      .card img {
        height: 80px; 
        object-fit: scale-down;/* Adjust image */
      }
      .card-title{
          font-size: 8px;
      font-weight: bold;
      margin-top: -5px;
      }
      .bt{
        width: 50px;
        font-size: 7px;
        height: 30px;
    }
  }
  