.cinemas{
    width: 100%;
    height: auto;
    object-fit: scale-down;
}
.container-1{
    background-color: rgb(17, 12, 12);
    border:1px solid rgba(0, 0, 0, 0.288);
    color: white;
    transition: 0.2s all;
    border-radius: 20px;
}
.container-1:hover{
    transform: scale(1.03);
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.image{
    width: 100%;
    height: 300px;
    object-fit:scale-down;
}
.co{
    width: 80px;
    height: 30px;
    background-color: rgb(200, 190, 190);
    border-radius: 7px;
    cursor: pointer;
}
.k{
  display: flex;
  gap: 10px;
  text-align: center;
}
.style-card{
    transform: scale(1.08);
    z-index: 3;
    color: white;
    background-color:rgb(240, 47, 4);
}
.style-card-1{
    transform: scale(1.08);
 
    color: white;
    background-color:rgb(139, 221, 128);
}
.container-area{
 
}
.name{
    font-size: 20px;
    color:red;
}
.container-area-2{

    border-left: 4px solid red;
}
.update{
    color: rgb(14, 241, 14);
}
.kc{
    transition: .3s all;
    animation: fadeIn 0.9s ease-in-out;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }